@page
@model DeactivatedModel
@{
    ViewData["Title"] = "Deactivated";
}

<header>
    <h2 class="text-danger d-flex align-items-center">
        <i class="bi bi-slash-circle-fill me-2"></i> @ViewData["Title"]
    </h2>
    <p class="text-danger">This account has been deactivated, please ask for administrator support.</p>
</header>
