html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.module-tile {
    transition: transform 0.2s ease-in-out, background-color 0.2s;
    text-align: center;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: #d1eefa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .module-tile:hover {
        transform: translateY(-5px) scale(1.02);
        background-color: #2194d1;
    }

.module-icon {
    font-size: 2rem;
    color: #0d6efd;
    transition: color 0.2s, transform 0.2s;
}

.module-label {
    margin-top: 0.5rem;
    font-weight: 500;
    color: #1775a7;
    transition: color 0.2s;
}

.module-tile:hover .module-icon,
.module-tile:hover .module-label {
    color: white;
}

.module-tile:active {
    transform: scale(0.95);
}

.custom-user-table {
    font-size: 0.9rem; /* smaller text */
    border: 1px solid #3e78a3;
}

    .custom-user-table th,
    .custom-user-table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        border: 1px solid #3e78a3;
    }

    .custom-user-table th {
        background-color: #3e78a3; /* light blue header */
    }

    .custom-user-table td select {
        font-size: 0.8rem;
    }

    .custom-user-table .form-select-sm {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    /* Optional soft row hover */
    .custom-user-table tbody tr:hover {
        background-color: #f9f9f9;
    }
